.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-purple);
    font-family: Matter, sans-serif;
    text-align: center;
}

.not-found h1 {
    font-size: 15rem;
    margin-bottom: 1rem;
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.plate {
    width: 400px;
    height: auto;
    margin: 0 10px;
}

.not-found p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.not-found a {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.not-found a:hover {
    color: #0056b3;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .not-found h1 {
        font-size: 7rem;
        margin-top: 2rem;
        /* Add some space at the top */
    }

    .plate {
        width: 180px;
        /* Adjust size for better responsiveness */
        margin: 10px 0;
        /* Add some space around the icon */
    }

    .not-found p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .not-found a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 280px) {

    .not-found h1 {
        font-size: 4.5rem;
        margin-top: 2rem;
        /* Add some space at the top */
    }

    .plate {
        width: 150px;
        /* Adjust size for better responsiveness */
        margin: 10px 0;
        /* Add some space around the icon */
    }
}